pipeline/pl_013_Append variable.json
{
	"name": "pl_013_Append variable",
	"properties": {
		"activities": [
			{
				"name": "Append variable1",
				"type": "AppendVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Name",
					"value": "6"
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Append variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "output",
					"value": {
						"value": "@variables('Name')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"Name": {
				"type": "Array",
				"defaultValue": [
					1,
					2,
					3,
					4
				]
			},
			"output": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}